extends layout

block content
  h1= title
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates cupiditate impedit nobis veniam aut delectus, pariatur eum error nesciunt architecto mollitia necessitatibus dicta quam vel exercitationem recusandae? Dicta eaque quas voluptatibus vitae ab ipsum blanditiis harum earum ex eius incidunt dolorum reiciendis libero esse fugiat ad officia placeat, aut beatae.
